html{
}
body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
}

/* header */

.header {
  background-color: rgba(34, 34, 34, 0.8);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  /* background-color: #fff; */
}

.header li a {
  display: block;
  padding: 20px 30px 10px 30px;
  color: white;
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  border-bottom: solid 5px rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.menu{
  font-size: 15pt;
}
.section_name{
  margin-top:-58px;
  padding-top:58px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px 10px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .section_name{
    margin-top:-58px;
    padding-top:58px;
  }
}
#logo{
  color:white;
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  font-size: 30pt;
}
.contents{
  text-align: center;
  padding-top:60px
}
#ex_title{
  font-size:600%;
  line-height: 500px;
}
#ex_groupe{
  text-align:right;
}
.height{
  height:500px;
}
.webgl{
  position: relative;
}
.webgl h1{
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.webgl img{
  width: 100%;
}
.mute{
  font-family: 'Dosis', sans-serif;
}
